/*------
fonts 
------*/
body{
    font-family: 'Poppins', sans-serif;
}

.font-title{
    font-family: 'EB Garamond', serif;
}
/*------------
utilities 
-------------*/
.btn-primary{
    background-color: #B68C5A;
    border: none;
}
.btn-primary:hover{
    background-color: #b77b31fe;
}

.title{
    font-weight: 800;
    font-size: 72px;
}
.title-info{
    color: #E7E7E7;
}
.card-info{
    color: #707070;
}

/*------
banner 
--------*/
.banner{
    height: 36rem;
    background-image: url(../images/Rectangle\ 5.png), url(../images/banner.png);
    background-repeat: no-repeat;
    background-size:auto;
    background-position:center;
}